.header {
  background-color: black;
  border-bottom: solid 10px #fff;
  padding: 20px 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  &-title {
    color: aquamarine;

    span {
      font-size: 36px;
      font-weight: 800;
      text-transform: uppercase;
    }
  }
}
