<section class="catalog">
  <div class="catalog-search-panel">
    <div class="catalog-search-panel-addbtn">
      <button class="add-btn">+ Add</button>
    </div>

    <div class="catalog-search-panel-searchinsert">
      <input type="search" name="search-insert-top" id="search-insert" placeholder="search products">
      <label for="search-insert"></label>
    </div>

    <div class="catalog-search-panel-selectinsert">
      <span>Sort by</span>
      <select size="1">
        <option value="name">name</option>
        <option value="recently-added">recently added</option>
      </select>
    </div>
  </div>

  <div class="catalog-products">
    <div class="catalog-products-list">
      <ul>

        <li>
          <div class="icon">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Picture_icon_BLACK.svg" alt="">
          </div>
          <div class="descrition">
            <p>Product 1</p>
            <span>Product 1 description</span>
          </div>
          <div class="deletebtn">
            <button class="delete-btn">Delete</button>
          </div>
        </li>

      </ul>
    </div>
    <div class="catalog-products-list-details"></div>
  </div>
  <div class="catalog-navigation"></div>
</section>
