<section class="catalog">
  <div class="catalog-search-panel">
    <div class="catalog-search-panel-addbtn">
      <button class="add-btn" (click)="addItem()">+ Add</button>
    </div>

    <div class="catalog-search-panel-searchinsert">
      <input type="search" name="search-insert-top" id="search-insert" placeholder="search products" [(ngModel)]="searchText" (input)="onSearch()">
      <label for="search-insert"></label>
    </div>

    <div class="catalog-search-panel-selectinsert">
      <span>Sort by</span>
      <select size="1">
        <option value="name">name</option>
        <option value="recently-added">recently added</option>
      </select>
    </div>
  </div>

  <div class="catalog-products">

    <ng-container *ngIf="!searchText">
      <div class="catalog-products-list">
        <ul>
          <li *ngFor="let item of items">
            <input type="radio" id="{{item.id}}" name="product">
            <label for="{{item.id}}">

              <div class="catalog-products-list-left">
                <div class="icon">
                  <img src="{{item.thumbnailUrl}}" alt="">
                </div>
                <div class="descrition">
                  <p>{{item.name}}</p>
                  <div class="descrition-span"><span>{{item.description}}</span></div>
                </div>
              </div>

              <div class="deletebtn">
                <button (ngModel)="item.id" class="delete-btn" (click)="deleteItem()">Delete</button>
              </div>

            </label>
          </li>
        </ul>
      </div>
    </ng-container>

    <ng-container *ngIf="searchText">
      <div class="catalog-products-list">
        <ul>
          <li *ngFor="let item of filteredItems">
            <input type="radio" id="{{item.id}}" name="product">
            <label for="{{item.id}}">

              <div class="catalog-products-list-left">
                <div class="icon">
                  <img src="{{item.thumbnailUrl}}" alt="">
                </div>
                <div class="descrition">
                  <p>{{item.name}}</p>
                  <div class="descrition-span"><span>{{item.description}}</span></div>
                </div>
              </div>

              <div class="deletebtn">
                <button class="delete-btn" (click)="deleteItem()">Delete</button>
              </div>

            </label>
          </li>
        </ul>
      </div>
    </ng-container>

    <div class="catalog-products-details">

      <div class="catalog-products-details-title">
        Details
      </div>

      <div class="catalog-products-details-icon">
        <img src="" alt="">
      </div>

      <div class="catalog-products-details-name">
        <p>Name</p>
        <input type="text">
      </div>

      <div class="catalog-products-details-description">
        <p>Description</p>
        <textarea></textarea>
      </div>

      <div class="catalog-products-details-price">
        <p>Price</p>
        <input type="text">
      </div>

      <div class="catalog-products-details-savebtn">
        <button class="save-btn">Save</button>
      </div>

    </div>

  </div>

  <div class="catalog-navigation">
    <div class="catalog-navigation-leftbtn">
      <button class="left-btn"></button>
      Prev Page
    </div>
    <div class="catalog-navigation-page">
      1 of 5
    </div>
    <div class="catalog-navigation-rightbtn">
      Next Page
      <button class="right-btn"></button>
    </div>
  </div>
</section>
